button {
    font-size: 2em;
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    background: #FF69B4;
    color: white;
    border: none;
    width: 80vw;      /* ocupa ancho relativo a la pantalla */
    max-width: 400px;
    display: block;    /* centrado */
}
